/* Main General CSS */

body {
    /* margin: 60px auto; */
    /* width: 100%; */
    margin: 0;
    padding: 0;
    background-color: white;
}

a {
    text-decoration: none;
    /* color: #999; */
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}


/* Header styles */

header {
    background-color: brown;
    display: flex;
    position: fixed;
    justify-content: left;
    width: 100%;
    padding-left: 120px;
    font-size: 8px;
}

#logo {
    text-align: center;
    float: none;
    font-size: 12px;
}

@media only screen and (min-width:640px) {
    header {
        font-size: 12px;
        padding-left: 130px;
    }
}

@media only screen and (min-width:900px) {
    header {
        justify-content: center;
        padding-left: 220px;
    }
    #logo {}
}


/* Navbar styles */

nav {
    background-color: bisque;
    position: absolute;
    left: 0;
    height: 100%;
    /* new */
    margin: 0;
    padding: 0;
}

nav ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    /* new */
    float: right;
    padding: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    /* display: inline; */
    margin-left: 10px;
    margin-right: 10px;
    /* new */
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: bisque;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    padding: 0 20px;
    color: rgb(40, 40, 40);
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav a.active {
    background-color: rgb(40, 40, 40);
    color: #fff;
}

nav a:hover {
    background-color: rgb(40, 40, 40);
    color: #fff;
}

.toggle,
[id^=drop] {
    display: none;
}


/* li>a:only-child:after {
    content: '';
} */

@media all and (max-width:900px) {
    .toggle+a,
    .menu {
        display: none;
    }
    .toggle {
        display: block;
        background-color: bisque;
        padding: 0 20px;
        /* width: 100%; */
        color: rgb(0, 0, 0);
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }
    .toggle:hover {
        background-color: rgb(40, 40, 40);
        color: #fff;
    }
    [id^=drop]:checked+ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
}


/* Main CSS elements */

footer {
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    height: 50px;
    /* margin-top: -33px; */
    background-color: #f8a8a4;
    text-align: center;
}


/* Main Layout css */

main {
    min-height: calc(100vh - 169px);
    /* Pushes Footer to the bottom */
    padding-top: 40px;
}

@media all and (min-width: 640px) {
    main {
        padding-top: 75px;
    }
}

@media all and (min-width: 900px) {
    main {
        padding-top: 75px;
    }
}


/* Contact Page */