/* Main General CSS */

main {
    /* Pushes Footer to the bottom */
    min-height: calc(100vh - 129px);
    padding-top: 40px;
    margin: 10px 10% 10px 10%;
    font: 8px Arial, sans-serif;
    color: #313131;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

code {
    font: 16px Lucida, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.code-block {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    padding: 4px 8px 4px 8px;
    border-radius: 3px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: #333;
}


/* 
    Header and Footer styles 
*/

header {
    background-color: brown;
    display: flex;
    position: fixed;
    justify-content: left;
    width: 100%;
    /* height: 80px; */
    padding-left: 20%;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

header h1 {
    top: 50%;
    vertical-align: middle;
    color: white;
}

header img {
    text-align: center;
    float: none;
    height: 60px;
    margin: 10px 10px 10px 10px;
}

footer {
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    height: 50px;
    /* margin-top: -33px; */
    background-color: #f8a8a4;
    text-align: center;
}


/* 
    Navbar styles 
*/

nav {
    background-color: bisque;
    position: absolute;
    left: 0;
    height: 100%;
    margin: 0;
}

nav ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    margin: 0;
    top: 25%;
    list-style: none;
    float: right;
    position: relative;
}

nav ul li {
    /* display: inline; */
    margin-right: 5px;
    display: inline-block;
    float: left;
    background-color: bisque;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    padding: 15px;
    color: rgb(40, 40, 40);
    font-size: 16px;
    text-decoration: none;
}

nav a.active {
    border-bottom: 2px solid rgb(40, 40, 40);
    font-weight: bolder;
    margin-bottom: 4px;
}

nav a:hover {
    background-color: rgb(40, 40, 40);
    color: #fff;
}

.text-laravel {
    font-weight: bold;
    color: #FF2D20;
}

table { 
    margin: 0 auto 0 auto;
    border: 2px solid rgb(0, 0, 0);
    font-size: 1.25em;
    border-collapse: collapse;
}
caption,
td,
th {
    padding: 15px;
    border: 2px solid rgb(0, 0, 0);
}

/* 
    Per page!
*/

.features__table-small {
    border: 2px solid rgb(104, 104, 104);
}

.features__table-small th {
    font-size: 1.3em;
}

.features__table-small td,
.features__table-small th {
    border: 2px solid rgb(104, 104, 104);
}

.features__code-block {
    margin: 5px auto 5px auto;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    width: auto;
}


/* Seperate elements */

.shadow-sm {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.09);
}

.shadow-md {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}

.shadow-lg {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 20px 0 rgba(0, 0, 0, 0.29);
}

.border {
    border: 1px solid black;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vcenter {
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    margin: auto;
    /* vertical-align: middle;
    align-items: center; */
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-larger {
    font-size: 1.2rem;
}

.text-smaller {
    font-size: 0.8rem;
}

.text-bold {
    font-weight: bold;
}

.text-code-sematics {
    color: #292929;
}

.text-code-expression {
    color: #981D15;
}

.text-code-function {
    color: #CA473F;
}

.text-code-statement {
    color: #055472;
}

.text-code-variable {
    color: #1E8DB8;
}

.text-code-string {
    color: #669900;
}

.text-code-comment {
    color: #49680c;
}


/* Bootstrap-like css*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    position: relative;
    width: 100%;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}

.col-1 {
    flex: 0 0 8.2025%;
    max-width: 8.2025%
}

.col-2 {
    flex: 0 0 16.535%;
    max-width: 16.535%
}

.col-3 {
    flex: 0 0 24.870%;
    max-width: 24.870%
}

.col-4 {
    flex: 0 0 33.2%;
    max-width: 33.2%
}

.col-5 {
    flex: 0 0 41.525%;
    max-width: 41.525%
}

.col-6 {
    flex: 0 0 49.870%;
    max-width: 49.870%
}

.col-7 {
    flex: 0 0 58.2%;
    max-width: 58.2%
}

.col-8 {
    flex: 0 0 66.525%;
    max-width: 66.525%
}

.col-9 {
    flex: 0 0 74.85%;
    max-width: 74.85%
}

.col-10 {
    flex: 0 0 83.2%;
    max-width: 83.2%
}

.col-11 {
    flex: 0 0 91.525%;
    max-width: 91.525%
}

.col-12 {
    flex: 0 0 99.95%;
    max-width: 99.95%
}

.col-valign-start {
    align-items: baseline;
}

.col-valign-start {
    align-items: flex-end;
}

.col-halign-left {
    justify-content: left;
}

.col-halign-center {
    justify-content: center;
}

.col-halign-right {
    justify-content: right;
}

.order-first {
    order: -1
}


/* Main CSS elements */

.menu-dropdown--toggle,
[id^=menu-dropdown] {
    display: none;
}

@media only screen and (min-width: 640px) {
    main {
        padding-top: 75px;
        font-size: 10px;
        min-height: calc(100vh - 164px);
    }
    header {
        padding-left: 10%;
    }
}

@media only screen and (min-width: 900px) {
    main {
        padding-top: 75px;
        font-size: 12px;
    }
    nav a {
        font-size: 24px;
    }
    header {
        font-size: 14px;
        padding-left: 35%;
    }
    header img {
        height: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        padding-left: 30%;
    }
}

@media all and (max-width:900px) {
    .menu-dropdown--toggle+a,
    .menu {
        display: none;
    }
    .menu-dropdown--toggle {
        display: block;
        background-color: bisque;
        padding: 0 20px;
        /* width: 100%; */
        color: rgb(0, 0, 0);
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }
    .menu-dropdown--toggle:hover {
        background-color: rgb(40, 40, 40);
        color: #fff;
    }
    [id^=menu-dropdown]:checked+ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
}