
/* Main General CSS */

body {
    /* margin: 60px auto; */
    /* width: 100%; */
    background-color: white;
}

a {
    text-decoration: none;
    /* color: #999; */
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/* Navbar styles */
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/* Main CSS elements */
footer {
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    
    border-top: 1px solid #d5d5d5;
    font-size: .8em;

    height: 33px;
    /* margin-top: -33px; */
    
    background-color: #f8a8a4;
    text-align: center;
}


/* Main Layout css */

.main-wrapper {
    min-height: calc(100vh - 33px);
}

/* Contact Page */
