:root {
    --footer__upper-ub-size: 75px;
    --footer__upper-lb-size: 45px;
}

body {
    margin: 0;
}

main {
    /* Pushes footer to the bottom. */
    min-height: calc(100vh - (218px + var(--footer__upper-lb-size)));
    margin: 0px 10% 10px 10%;
    font: 8px Arial, sans-serif;
    color: #313131;
}

textarea {
    resize: none;
}

.highlight {
    border: rgba(199, 199, 25, 0.75) 5px dashed;
    cursor: pointer;
}

.highlight--selected {
    border: rgba(199, 199, 25, 0.75) 5px solid;
}


/* hidden */

.hidden {
    display: none;
}


/* button */

.btn {
    background-color: #E5F1FB;
    border: solid #686868 1px;
    border-radius: 7px;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.09);
}

.btn-lg {
    padding: 16px 32px;
    font-size: 16px;
}

.btn-sm {
    padding: 8px 16px;
    font-size: 12px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: 1px solid #686868;
}

.btn-dark {
    background-color: #3a3a3a;
    color: white;
}

.btn-dark:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: 1px solid #3a3a3a;
}


/* Header and Footer */

header {
    background-color: rgb(216, 73, 73);
    display: flex;
    position: sticky;
    top: 0;
    height: 80px;
    font-size: 7px;
}

footer {
    border-top: 2px solid #f8a8a4;
    text-align: center;
}

footer .footer__upper {
    height: var(--footer__upper-lb-size);
    transition-duration: 0.4s;
    /* top: 50%; */
    /* vertical-align: middle; */
    background-color: #facfcc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .footer__upper menu .row {
    display: flex;
    justify-content: space-around;
}

footer .footer__upper div {
    float: left;
}

footer .footer__upper p {
    color: #c58e8a;
    font: 1em Lucida, sans-serif;
    font-weight: bold;
}

footer .footer__upper p a {
    color: rgb(101, 150, 207);
}

footer .footer__upper p small {
    font-size: 0.7em;
    font-weight: normal;
}

footer .footer__lower {
    padding-top: 8px;
    height: 55px;
    background-color: #f8a8a4;
}

footer .footer__lower p {
    color: #cc7b75;
    font: .8em Lucida, sans-serif;
    font-weight: bold;
}

footer .footer__lower p a {
    color: rgb(101, 150, 207);
}


/* Navbar and Menu */

nav {
    background-color: bisque;
}

nav label {
    top: 10px;
}

nav ul,
nav label {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: block;
    background-color: bisque;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    padding: 0px 15px;
    color: rgb(40, 40, 40);
    font-size: 16px;
    line-height: 40px;
}

nav a.active {
    border-bottom: 2px solid rgb(40, 40, 40);
    font-weight: bolder;
    margin-bottom: 4px;
}

nav a:hover {
    background-color: rgb(40, 40, 40);
    color: #fff;
}

.menu-dropdown--toggle,
[id^=menu-dropdown] {
    display: none;
}


/* Code */

code {
    font: 1.1em Lucida, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.code-block {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    padding: 4px 8px 4px 8px;
    border-radius: 3px;
}

.text-code-sematics {
    color: #292929;
}

.text-code-expression {
    color: #981D15;
}

.text-code-function {
    color: #CA473F;
}

.text-code-statement {
    color: #055472;
}

.text-code-variable {
    color: #1E8DB8;
}

.text-code-string {
    color: #669900;
}

.text-code-comment {
    color: #49680c;
}


/* Tables */

table {
    margin: 0 auto 0 auto;
    border: 2px solid rgb(0, 0, 0);
    font-size: 1.25em;
    border-collapse: collapse;
}

caption,
td,
th {
    padding: 15px;
    border: 2px solid rgb(0, 0, 0);
}

#code_table {
    border: 2px solid rgb(104, 104, 104);
}

#code_table th {
    font-size: 1.3em;
}

.features__table-small caption {
    font-size: 1.5em;
    font-weight: bold;
}

#code_table td,
#code_table th {
    border: 2px solid rgb(104, 104, 104);
}


/* Misc */

.text-laravel {
    font-weight: bold;
    color: #FF2D20;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article {
    margin-bottom: 40px;
}

h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

main img {
    margin: 8px;
    max-width: 100%;
}

iframe {
    margin: 8px;
    max-width: 100%;
}

.iframe-container {
    width: 100%;
    height: auto;
}

p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: #333;
}

#title-logo {
    display: flex;
    margin: auto;
}

#title-logo img {
    height: 60px;
    margin: 10px;
}

#title-logo h1 {
    color: white;
    align-self: center;
    margin: 0;
}

#taylor-headshot {
    float: left;
    height: 25em;
    border: ridge rgb(158, 158, 158) 12px;
}

.shadow-sm {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.09);
}

.shadow-md {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}

.shadow-lg {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 20px 0 rgba(0, 0, 0, 0.29);
    border: 0
}

.border {
    border: 1px solid black;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.iframe-center-offset {
    display: block;
    width: auto;
}

.vcenter {
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    margin: auto;
    width: 50%;
    height: 50%;
    vertical-align: middle;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-larger {
    font-size: 1.2rem;
}

.text-smaller {
    font-size: 0.8rem;
}

.text-bold {
    font-weight: bold;
}

.text-copyright {
    font: 12px Lucida, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 4px;
    margin-right: 4px;
}


/* Bootstrap-Inspired Alignment */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}

.col-1 {
    flex: 0 0 8.2025%;
    max-width: 8.2025%
}

.col-2 {
    flex: 0 0 16.535%;
    max-width: 16.535%
}

.col-3 {
    flex: 0 0 24.870%;
    max-width: 24.870%
}

.col-4 {
    flex: 0 0 33.2%;
    max-width: 33.2%
}

.col-5 {
    flex: 0 0 41.525%;
    max-width: 41.525%
}

.col-6 {
    flex: 0 0 49.870%;
    max-width: 49.870%
}

.col-7 {
    flex: 0 0 58.2%;
    max-width: 58.2%
}

.col-8 {
    flex: 0 0 66.525%;
    max-width: 66.525%
}

.col-9 {
    flex: 0 0 74.85%;
    max-width: 74.85%
}

.col-10 {
    flex: 0 0 83.2%;
    max-width: 83.2%
}

.col-11 {
    flex: 0 0 91.525%;
    max-width: 91.525%
}

.col-12 {
    flex: 0 0 99.95%;
    max-width: 99.95%
}

.col-valign-start {
    align-items: baseline;
}

.col-valign-start {
    align-items: flex-end;
}

.col-halign-left {
    justify-content: left;
}

.col-halign-center {
    justify-content: center;
}

.col-halign-right {
    justify-content: right;
}

.order-first {
    order: -1
}


/* Responsive Web Design */

@media (min-width: 640px) {
    main {
        font-size: 10px;
    }
}

@media (min-width: 900px) {
    main {
        font-size: 12px;
    }
    nav a {
        font-size: 24px;
        line-height: 60px;
    }
    nav ul {
        height: 100%;
        width: max-content;
        margin: 30px 0;
    }
    nav ul li {
        float: left;
        margin: 0px 5px 0px 5px;
    }
    header {
        font-size: 14px;
        height: 120px;
    }
    #title-logo img {
        height: 100px;
    }
    .iframe-lg-center {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .col-md-1 {
        flex: 0 0 8.2025%;
        max-width: 8.2025%
    }
    .col-md-2 {
        flex: 0 0 16.535%;
        max-width: 16.535%
    }
    .col-md-3 {
        flex: 0 0 24.870%;
        max-width: 24.870%
    }
    .col-md-4 {
        flex: 0 0 33.2%;
        max-width: 33.2%
    }
    .col-md-5 {
        flex: 0 0 41.525%;
        max-width: 41.525%
    }
    .col-md-6 {
        flex: 0 0 49.870%;
        max-width: 49.870%
    }
    .col-md-7 {
        flex: 0 0 58.2%;
        max-width: 58.2%
    }
    .col-md-8 {
        flex: 0 0 66.525%;
        max-width: 66.525%
    }
    .col-md-9 {
        flex: 0 0 74.85%;
        max-width: 74.85%
    }
    .col-md-10 {
        flex: 0 0 83.2%;
        max-width: 83.2%
    }
    .col-md-11 {
        flex: 0 0 91.525%;
        max-width: 91.525%
    }
    .col-md-12 {
        flex: 0 0 99.95%;
        max-width: 99.95%
    }
}

@media (max-width:899px) {
    .menu-dropdown--toggle+a,
    .menu {
        display: none;
    }
    .menu-dropdown--toggle {
        display: block;
        padding: 0px 30px;
        font-size: 20px;
        line-height: 80px;
    }
    .menu-dropdown--toggle:hover {
        background-color: rgb(40, 40, 40);
        color: #fff;
    }
    [id^=menu-dropdown]:checked+ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
}