/* Main General CSS */

main {
    /* Pushes Footer to the bottom */
    min-height: calc(100vh - 129px);
    padding-top: 40px;
    margin: 10px 10% 10px 10%;
    font: 8px Arial, sans-serif;
    color: #313131;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

code {
    font: 16px Lucida, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: #333;
}


/* 
    Header and Footer styles 
*/

header {
    background-color: brown;
    display: flex;
    position: fixed;
    justify-content: left;
    width: 100%;
    /* height: 80px; */
    padding-left: 20%;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

header h1 {
    top: 50%;
    vertical-align: middle;
    color: white;
}

header img {
    text-align: center;
    float: none;
    height: 60px;
    margin: 10px 10px 10px 10px;
}

footer {
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    height: 50px;
    /* margin-top: -33px; */
    background-color: #f8a8a4;
    text-align: center;
}


/* 
    Navbar styles 
*/

nav {
    background-color: bisque;
    position: absolute;
    left: 0;
    height: 100%;
    margin: 0;
}

nav ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    margin: 0;
    top: 25%;
    list-style: none;
    float: right;
    position: relative;
}

nav ul li {
    /* display: inline; */
    margin-right: 5;
    display: inline-block;
    float: left;
    background-color: bisque;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    padding: 15px;
    color: rgb(40, 40, 40);
    font-size: 16px;
    text-decoration: none;
}

nav a.active {
    border-bottom: 2px solid rgb(40, 40, 40);
    font-weight: bolder;
    margin-bottom: 4px;
}

nav a:hover {
    background-color: rgb(40, 40, 40);
    color: #fff;
}

.text-laravel {
    font-weight: bold;
    color: #FF2D20;
}


/* 
    Per page!
*/

.features__table-small {
    margin: 0 auto 0 auto;
    font-size: 10px;
    border: 1px solid rgb(104, 104, 104);
    border-spacing: 0;
    border-radius: 6px;
}

.features__table-small h3 {
    font-size: 14px;
}

.features__table-small td {
    padding: 5px;
}

.features__table-small tr td,
.features__table-small tr th {
    border: 1px solid rgb(104, 104, 104);
}

.features__code-block {
    margin: 5px auto 5px auto;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    width: auto;
}


/* Color coded text */

.text-code-sematics {
    color: #292929;
}

.text-code-expression {
    color: #981D15;
}

.text-code-function {
    color: #CA473F;
}

.text-code-statement {
    color: #055472;
}

.text-code-variable {
    color: #1E8DB8;
}

.text-code-string {
    color: #669900;
}

.text-code-comment {
    color: #49680c;
}


/* Margins and Paddings */

.mt-4 {
    margin-top: 4px;
    padding-top: 4px;
}


/* Main CSS elements */

.menu-dropdown--toggle,
[id^=menu-dropdown] {
    display: none;
}

@media only screen and (min-width: 640px) {
    main {
        padding-top: 75px;
        font-size: 10px;
        min-height: calc(100vh - 164px);
    }
    header {
        padding-left: 10%;
    }
}

@media only screen and (min-width: 900px) {
    main {
        padding-top: 75px;
        font-size: 12px;
    }
    nav a {
        font-size: 24px;
    }
    header {
        font-size: 14px;
        padding-left: 35%;
    }
    header img {
        height: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        padding-left: 30%;
    }
}

@media all and (max-width:900px) {
    .menu-dropdown--toggle+a,
    .menu {
        display: none;
    }
    .menu-dropdown--toggle {
        display: block;
        background-color: bisque;
        padding: 0 20px;
        /* width: 100%; */
        color: rgb(0, 0, 0);
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }
    .menu-dropdown--toggle:hover {
        background-color: rgb(40, 40, 40);
        color: #fff;
    }
    [id^=menu-dropdown]:checked+ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
}
