{{#> layout title="history" header_name="Laravels History"}}
{{!-- <main> --}}
    {{!-- <h1>History of Laravel</h1>
    <img src="../assets/Taylor_Otwell.jpg" id="taylor-headshot"
        alt="picture of Taylor Otwell: a white bald male with blue eyes and a small beard">
    <p>Taylor Otwell released Laravel 1 in June of 2011. He was motivated to develop this new PHP framework by the lack of
        features for authentication and authorization, as he saw it, in the popular framework at the time, CodeIgniter.</p> --}}
    <p>In September of 2011 Laravel 2 was released with support for controllers, enabling its use for developing web apps
        with the MVC pattern. Laravel 3 added more features, and at this time the framework entered the mainstream.</p>
    <p>Two years after, May 2013, Laravel 4 was released as a rewrite of the framework. It became a collection of packages
        on Composer, a package manager for PHP. Now this made it more extensible which was an important quality to have at
        the time, as
        the PHP landscape was a more fractured place than for example the C# community, which relied solely (well mostly) on
        .NET.</p>
    <p>Laravel 5.1 released in June 2013 was the first version to get long-term support. Ever since it's been going strong
        with new features added every major update. Today you can develop on the web with Laravel 8, with Laravel 9 and 10
        coming out annualy. <a href="https://laravel.com/docs/8.x/releases">source</a>
    </p>
{{!-- </main> --}}

{{/layout}}