<footer class="row">
    <div class="col-6 footer__lower">
        <p>
            Copyright &copy; 2021 - <a rel="external" target="_blank" class="text-link-silent"
                href="https://github.com/ManBearPig0/laravel">source code</a>
        </p>
    </div>
    <div class="col footer__lower">
        <p>
            <span>The Framework - <a rel="external" target="_blank" class="text-link-silent"
                    href="https://laravel.com/">Laravel</a></span>
            <br><small>Laravel is a web application framework with expressive, elegant syntax.</small>
        </p>
    </div>
</footer>