<footer>
        <p>
            Copyright &copy; 2021 - <a rel="external" target="_blank" class="text-link-silent"
                href="https://github.com/ManBearPig0/laravel">source code</a>
        </p>
        <p>
            <span>The Framework - <a rel="external" target="_blank" class="text-link-silent"
                    href="https://laravel.com/">Laravel</a></span>
            <br><small>Laravel is a web application framework with expressive, elegant syntax.</small>
        </p>
</footer>
