<!DOCTYPE html>
<html>

<head>
    <!-- required meta tags -->
    <meta charset="utf-8">

    <!-- Additional meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{description}}" />
    <meta name="author" content="Simon Oliehoek, Herman Rimm, Gust Verhees" />
    <meta name="keywords" content="laravel, php, framework, programming, website technology">

    <!-- No idea -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Title Icon -->
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="/assets/1200px-Laravel.png" />

    <!-- Import css -->
    <link rel="stylesheet" href="/css/main.css" />

    <!-- js is imported at the end -->
</head>

<body>
    <!-- Include the header -->
    <%- include('./header', {page_name: header, auth_user: "username" , logged_in: true}) -%>


    <%- content -%>

    <!-- Include the footer -->
    <%- include('./footer_editor') -%>

    <!-- Import js after loading html -->
    <!-- <script src="../js/app.js"></script> -->

    <!-- Only used for testing without using Browsify. Can be removed in final version -->
    <script src="../js/elementEditor.js"></script>
    <script src="../js/question.js"></script>

    <% if(path === "/assessment"){%>
        <script src = "js/assesmentStart.js"></script>
    <% } %>
</body>

</html>
