<% extend('./partials/layout', {title: "Assessment", header: "Assessment", description: "A quiz to test your knowlegde of laravel"}) %>
<main id = "questionwindow" >

</main>
<navbar id = "topicselection">
</navbar>