<% extend('./partials/layout', {title: "Assessment", header: "Assessment", description: "A quiz to test your knowlegde of laravel"}) %>
<main id="assessment">
<ul id="topic-selection"></ul>
<section id="question-window"></section>
</main>
