<% extend('./partials/layout', {title: "Contact", header: "Contacts", description: "Contact information for the authors of this website"}) %>
    <main>
        <h1>Contact Us</h1>
        <p>This website was developed by Simon Oliehoek, Herman Rimm and Gust Verhees, if you wish to contact us about any of the follow topic please use the apropriate link below.</p>
        <table>
            <thead>
                <tr>
                    <th>contact</th>
                    <th>email adress</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>contact for more information regarding laravel:</td>
                    <td><a href="mailto:example@mail.com?subject=laravel_question">example@mail.com</a></td>
                </tr>
                <tr>
                    <td>contact us about isues on this website:</td>
                    <td><a href="mailto:example2@mail.com?subject=bugreport">example2@mail.com</a></td>
                </tr>
            </tbody>
        </table>
    </main>