<% extend('./partials/layout', {title: "Authenticate", header: "User Login", description: "Authentication login page"}) %>

<main>
    <h1>Login</h1>

    <br/><small>Username</small> <br/>
    <input placeholder="Username" type="text">

    <br/><small>Password</small><br/>
    <input placeholder="Password" type="text">

    <button type="submit" class="btn btn-dark ">Login</button>
</main>