<% extend('./partials/layout', {title: "Authenticate", header: "Register", description: "Authentication login page"}) %>

    <main id="login-page" class="hcenter text-center">
        <form method="POST" action="/register" enctype="application/x-www-form-urlencoded">

            <h1>Register new User</h1>

            <div class="my-2 mt-4">
                <label for="#username">Username</label>
                <input id="username" name="username" placeholder="Username" type="text" class="form-control shadow-sm <% if(typeof username !== 'undefined') { %> is-invalid <% } %>" />
                <% if(typeof username !== 'undefined') { %> 
                    <span class="validation-error"><%= username %></span>    
                <% } %>
            </div>


            <div class="my-2 mt-3">
                <label for="#password">Password</label>
                <input id="password" name="password" placeholder="Password" type="password" class="form-control shadow-sm <% if(typeof password !== 'undefined') { %> is-invalid <% } %>" />
                <% if(typeof password !== 'undefined') { %> 
                    <span class="validation-error"><%= password %></span>    
                <% } %>
            </div>

            <div class="my-2 mt-3">
                <label for="#password_confirm">Confirm Password</label>
                <input id="password_confirm" name="password_confirm" placeholder="Password" type="password" class="form-control shadow-sm <% if(typeof password_confirm !== 'undefined') { %> is-invalid <% } %>" />
                <% if(typeof password_confirm !== 'undefined') { %> 
                    <span class="validation-error"><%= password_confirm %></span>    
                <% } %>
            </div>  


            <div class="mt-5">
                <button type="submit" name="action" value="register" class="btn btn-red mx-auto">Register</button>
            </div>

            <!-- 
            <div class="mt-auto">
                Whaaaatt
            </div> -->

        </form>
    </main>